/**************************************************
**************************************************/
		.ButtonCompteCss
		{
			font-size:16px
		}
		.TextInfoCss
		{
			font-size:12px
		}
		.TextTitreCss
		{
			font-size:20px
		}
		.TextPageCss
		{
			font-size:20px;
			background-color:rgb(100, 178, 62);
		}